/* δ Delta components [Steptronic.js] */

delta-head
{
top: 0;
width: 100%;
height: 48px;
z-index: 1;
position: fixed;
color: #DCDCDC;
font-size: 1.6em;
background: #303030;
display: grid;
grid-template-columns: 48px auto 48px;
} delta-head > * {display: flex; align-items: center; justify-content: center;}

delta-foot
{
bottom: 0;
width: 100%;
height: 48px;
z-index: 1;
position: fixed;
color: #DCDCDC;
font-size: 1.6em;
background: #303030;
display: grid;
grid-template-columns: repeat(4, 1fr);
} delta-foot > * {display: flex; align-items: center; justify-content: center;}

search-bar
{
  width: 100%;
  display: grid;
  padding: 0.5em;
  margin-top: 48px;
}

search-bar input
{
  all: unset;
  width: 100%;
  height: 32px;
  border-radius: 0.5em;
  border: 1px solid rgba(220,220,220,1);
  color: #DCDCDC;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0;
  padding-left: 0.5em;
  box-sizing: border-box;
}

delta-menu  {
    display: none;
    padding-top: 48px;
    }
    
    delta-menu > * {
    height: 48px;
    width: 100%;
    color: #FFFFFF;
    display: grid;
    font-size: 1.2em;
    grid-template-columns: 48px auto;
    background: #383838;
    }

/* http://svgicons.sparkk.fr/ */

/* ----- SVG Icons ----- #008B8B */

.svg-icon {
    width: 40px;
    height: 40px;
    margin-left: 4px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #34D399;
  }
  
  .svg-icon circle {
    stroke: #34D399;
    stroke-width: 1;
  }

  DeltaH{
  background-image: url(./file-image.svg);}

